<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div>
     <header>
        <img id="logoImg" src="logo-pullman.svg" alt="">
        <h1 id="hotelName">DREAM HOTEL</h1>
        <ul>
            <li><a href="#theHotel">The Hotel</a></li>
            <li><a href="#facilites">Facilites</a></li>
            <li><a href="#Spicaloffers">Spical Offers</a></li>
           
          </ul>
     </header>
     <nav >
         <img id="mainImg" src="main image.jpg" alt="">
     </nav>
     <nav>
        <ul>
            <li><a href="#theHotel">The Hotel</a></li>
            <li><a href="#facilites">Facilites</a></li>
            <li><a href="#Spicaloffers">Spical Offers</a></li>
        </ul>
    </nav>
    <article id="content">
        <aside id="theHotelDesc">
            <h3 id="hotel_title">The HOTEL</h3>
            <p>Pullman ZamZam Makkah stands as a distinctive landmark in Makkah, located in the spectacular new Abraj Al Bait complex, directly adjoining Masjid Al Haram and the holy Kaaba in the very heart of Makkah facing King Abdulaziz gate. This masterpiece offers the finest hospitality in Makkah, having 1315 elegantly appointed rooms and suites with extravagant amenities, two contemporary dining options and five-star-deluxe services filled with spirituality while enjoying direct views over the holy Kaaba.            </p>
            <p>Makkah the holiest city in Islam, approximately 73 Kilometers inland from Jeddah-Saudi Arabia port of entry to the red sea. Makkah is one of the most magical places in all the world. Birthplace of prophet Mohamed (Peace be upon him ), Makkah is an ancient Bedouin gathering place that today has become a diverse and vibrant city, with inhabitants from many Islamic cultures.</p>
            <p>Whether here during Hajj or Umrah the Grand Mosque is the destination for Islamic pilgrims from over the world, similarly the Kaaba (House of god) is the key focus for all who travel to Makkah. Another unmissable sight is “Jabal Al Nour” where prophet Mohamed (Peace be upon Him) received his first revelation from the archangel Gabriel in the cave of Hira. Also there is an extensive shopping collection including 450 stores within Abraj Albeit complex.</p>
        </aside>
        
        <aside id="access">
                <div id="access_content">
                    <img id="address_img" src="pin-address.svg" alt="">
                    <h3 id="access_title">Access</h3>
                    <h4>The Hotel</h4>
                    <p id="access_para">Abraj Al Bait Complex, King Abdel Aziz Endowment, 21955 MAKKAH</p>
                    <p>SAUDI ARABIA</p id="access_para">
                    <h5 >Tel:</h4><lable id="access_para">(+966) 1/25715555</lable>
                    <h5>Tel:</h4><lable id="access_para">(+966) 1/25715555</lable>
                    <h5 >Email:</h4><lable id="access_para"> H6036@accor.com</lable>
                </div>
        </aside>
    </article>

</div>
</body>
</html>